fastapi 
uvicorn 
sqlalchemy 
psycopg[binary]
pandas
sentence-transformers
langchain
langchain_community
langchain_openai
langchain_huggingface
huggingface_hub[hf_xet]
langchain-postgres
redis
langchain-google-genai
langchain-ollama